.wallet-adapter-dropdown-list {
	background-color: #EFFAFF !important;
	-webkit-box-shadow: 2px 3px 15px -5px rgba(0, 0, 0, 0.75) !important;
	-moz-box-shadow: 2px 3px 15px -5px rgba(0, 0, 0, 0.75) !important;
	box-shadow: 2px 3px 15px -5px rgba(0, 0, 0, 0.75) !important;
	padding: 10px 0 !important;
	grid-row-gap: 5px !important;
}

.wallet-adapter-dropdown-list-item {
	color: black !important;
	padding: 20px 30px !important;
}

.wallet-adapter-dropdown-list-item:hover {
	background-color: white !important;
}